
.buyform {
    width: 425px;
    height: 725px; 
    display: block;
    background-color: #a1bd3b;
    padding: 20px 20px 0 20px;
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 12px;
    font-weight: 600;
    color: #414141;
   
}
.card,
.fname,
.email,
.phone {
    padding-top: 5px;
    border: solid 2px #ffffff8e;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.37);
    padding-right: 75px;
    padding-left: 10px;
    padding-bottom: px;
    margin: 2px;
    color: rgb(0, 0, 0);
   
}

.address {
    border: solid 1px #ffffff07;
    border-radius: 3px;
    float: right;
    padding-right: 35px;
  
   
}

.fname_box,
.email_box,
.phone_box {
    border: solid 1px #ffffff07;
    border-radius: 3px;
    float: right;
    padding-right: 35px;
    height: 20px;
   
    
}
.cardtype {
    padding-top: 5px;
    border: solid 2px #ffffff8e;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.37);
    
    padding-left: 10px;
    padding-bottom: 11px;
    margin: 2px;
   
    
}
.form-check-inline {
  
    padding-right: 20px;

}


.button {
    padding: 3px 30px;
    background-color: #414141;

    border-radius: 20px;
    font-size: 20px;
    color: white;
}
body {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

h6 {
    font-weight: 900;
}